
* {
  font-size: 1rem;
  background-color: #DCC4B9;
  

}

.container {
  max-width: 1080px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  position: relative;
}

h1 {
  font-size: 3rem;
  margin: 0;
}

h3 {
  font-size: 2rem;
}

.input {
  font-weight: 600;
  height: 30vh;
  position: absolute;
  top: 0;
  width: 60%;
}
.input input {
  border: 2px solid;
  padding: .3rem;
  background-color: #fff;
  margin-top: .5rem;
  height: 2.5rem;
  font-size: 1.5rem;
  text-align: center;
}
.btn {
  padding: .1rem;
  border: 2px solid;
  margin-left: 1rem;
}
.form {
  flex-direction: row;
  justify-content: space-around;
}
